* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/*naming it just header is more simple than identifying it at class='header' So in here I don't need to identify it as .header*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* I had taken the dot(.) sign from the header since it is not a class anymore*/
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* I had taken the dot(.) sign from the header since it is not a class anymore*/
header h1 .seo {
  color: #d9dcd6;
}

/* This was div before. naming it nav is less repetative */
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/*This is the background picture in the page*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

main {
  /*Named the .content to main to make it easier and less repetative*/
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* I noticed that .search-engine-optimization,.online-reputation-management, and .social-media-marketing all have the same contents. So I thought that combining them together is better naming the class as images*/
.images {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*I did the same here as well where I named all the 3 images to the same class to make the code less repetative*/
.images img {
  max-height: 200px;
}
/*Again in here I lessened the code and named all them to images*/
.images h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

section {
  /*Named the div with class benefits to section only because it is less repetative and more clearer*/
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*Since the benefit-lead, benifit-brand and benefit-cost have all the same styles I named them all to benefit-details to lessen the code.*/
.benefits {
  margin-bottom: 32px;
  color: #ffffff;
}

/*I did the same here as well where I named all the 3 benefits to the same class to make the code less repetative*/
.benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*Again in here I lessened the code and named all the benefits to beneifts*/
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

footer {
  /*Named the .footer to footer only because there is no need to identify the div to footer. It is the only footer in the code*/
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h4 {
  font-size: 20px;
}
